<div>
  <div>
    <h1>
      <%= @current_user.first_name %> <%= @current_user.last_name%>'s bookmarks
    </h1>
  </div>
</div>

<form action="/insert_bookmark" method="post">

  <select name="query_movie_id" id="movie_id_box">
      <% Movie.all.order(:title).each do |movie| %>
      <option value="<%= movie.id %>">
        <%= movie.title %>
      </option>
    
    <% end %>
    </select>
    
  <button>
    Bookmark this movie!
  </button>
</form>
<hr>
<table class="table" border="1">
  <tr>
    <th>
      Movie
    </th>

    <th>
      Created at
    </th>

    <th>
    </th>
  </tr>
  

  <% Bookmark.all.each do |bookmark| %>
      <tr>
        <td>
          <%= bookmark.id %>
        </td>
<% end %>
</table>

    <footer>
      <small>
        This product uses the TMDb API but is not endorsed or certified by TMDb.
      </small>